@charset "UTF-8";
.content{
	width: 980px;
	margin: 0 auto;
}
div.form div{
	margin: 5px 0 5px 0;
}
input.submit{
	font-weight: 550;
	line-height: 28px;
	font-size: 14px;
	margin:0 10px 0 0;
	padding: 0 10px 0 0;
	text-indent: 10px;
	color: #fff;
    background-color: #d23430;
    border:none;
    cursor: pointer;
}