body{
	margin:0;
	padding:0;
	background-image:url("../images/img_bg_1.jpg");
	background-repeat:no-repeat;
	background-size:100%;
}

#nav{
	margin:0;
	padding:0;
	width:100%;
	height:99px;
	font-size:50px;
	line-height:99px;
	background-color:rgba(0,0,0,0.5);
}

#nav a{
	color:white;
	text-decoration: none;
	margin-left:20%;
}


#login_div{
	width:100%;
	height:935px;
	background-color:rgba(0,0,0,0.5);
}

#login_div1{
	width:320px;
	height:450px;
	margin-right:20%;
	color:white;
	float:right;
	background-color:rgba(0,0,0,0.3);
}

#regin_div{
	float:right;
	margin-right:30px
	
}

#regin_div a{
	color:white;
}

input{
	width:260px;
	height:50px;
	margin-left:30px;
	margin-top:10px;
	color:white;
	font-size:20px;
	background-color:rgba(0,0,0,0.3);
	cursor: pointer;
	border-radius:15px;
}

#user_name{
	margin-top:0px;
}

#chknumber{
	width:160px;
	height:50px;
}

#safecode{
	width:80px;
	height:50px;
	display:block;
	float:right;
	margin-right:30px;
	margin-top:10px;
}

#btn_submit{
	background:RGB(250,179,71);
	
}

