#content{
	width:1300px;
	margin:0 auto;
}

.panel-heading{
	height:40px;
	border:1px solid black;
	border-radius:3px;
	font-size:20px;
	line-height: 40px;
}



.oreder_new{
	width:600px;
	margin-top:10px;
	margin-left:10px;
	border:1px solid gray;
	border-radius:5px;
	float:left;
	color:gray;
}

.userInfo{
	width:600px;
	height:50px;
	font-size:20px;
	margin-top:3px;
	background:RGB(214,214,214);
	position: relative;
}

.username{
	position:absolute;
	top:3px;
	left:3px;
}

.userphone{
	position:absolute;
	top:3px;
	right:3px;
}
.userAdd{
	position:absolute;
	top:26px;
	left:3px;
}

.createTime{
	position: absolute; top:26px; right:3px;
}

.userAdd a{
	text-decoration: none;
	color:gray;
}



.foodInfo{
	width:600px;
	font-size:25px;
	padding-top:10px;
	margin-top:3px;
}

.foodInfo div{
	float:left;
	margin-right:20px;
	color:black;

}


.otherInfo{
	width:600px;
	height:30px;
	font-size:20px;
	line-height:30px;
	background:RGB(214,214,214);
	margin-top:3px;
}

.otherInfo div{
	float:left;
	width:30%;
}


.totalPrice{
	color:Blue;
}

.btn{
	margin-top:3px;
	height:30px;
}

.btn input[type="submit"]:hover{
	background:red;
}

.btn a{
	margin-left:3px;
	text-decoration: none;
	color:black;
	font-size:20px;
	border-radius:5px;
	background:RGB(214,214,214);
}

.btn button{
	display:block;
	font-size:20px;
	margin-right:3px;
	float:right;
	cursor: pointer;
}

.pagination {
	padding: 5px;
	width: 600px;
	margin: 5px;
	text-align: center;
	margin:0 auto;
}

.pagination ul {
	margin: 5;
	padding: 5;
	font-size: 12px;
}

.pagination li {
	list-style-type: none;
	display: inline;
	padding: 1px;
	margin: 1px;
}

.pagination a,.pagination a:visited {
	padding: 5px;
	border: 1px solid #9aafe5;
	text-decoration: none;
	color: #2e6ab1;
}

.pagination a:hover,.pagination a:active {
	border: 1px solid #2b66a5;
	color: #000;
	background-color: lightyellow;
}

.pagination li.currentpage {
	font-weight: bold;
	padding: 5px;
	border: 1px solid navy;
	background-color: #2e6ab1;
	color: #FFF;
}

.pagination li.disablepage {
	padding: 5px;
	color: #929292;
}

.pagination li.nextpage {
	font-weight: bold;
	border: 1px solid #9aafe5;
	padding: 5px;
}

